In [1]:
import dask.dataframe as dd

In [2]:
import pandas as pd

In [3]:
import time

In [4]:
from math import sin, cos, sqrt, atan2, radians

In [5]:
colnames = ['tripduration', 'starttime', 'stoptime', 'startstationid',
            'startstationname', 'startlat', 'statlong',
            'endstationid', 'endstationname', 'endlat', 'endlong',
            'bikeid', 'usertype', 'year', 'gender']

In [6]:
path = r'/Users/eleanorelin/Documents/citi_bike/'

In [7]:
df43 = pd.read_csv(path + '201701-citibike-tripdata.csv')

In [8]:
df43.columns = colnames

In [9]:
df44 = pd.read_csv(path + '201702-citibike-tripdata.csv')
df44.columns = colnames
df45 = pd.read_csv(path + '201703-citibike-tripdata.csv')
df45.columns = colnames
df46 = pd.read_csv(path + '201704-citibike-tripdata.csv')
df46.columns = colnames
df47 = pd.read_csv(path + '201705-citibike-tripdata.csv')
df47.columns = colnames
df48 = pd.read_csv(path + '201706-citibike-tripdata.csv')
df48.columns = colnames
df49 = pd.read_csv(path + '201707-citibike-tripdata.csv')
df49.columns = colnames
df50 = pd.read_csv(path + '201708-citibike-tripdata.csv')
df50.columns = colnames
df51 = pd.read_csv(path + '201709-citibike-tripdata.csv')
df51.columns = colnames

In [10]:
frames = [df43,
          df44, df45, df46, df47, df48, df49, df50,
          df51]

In [11]:
result = pd.concat(frames)
result2 = result

In [12]:
len(result)

12246449

In [13]:
result.describe()

,tripduration,startstationid,startlat,statlong,endstationid,endlat,endlong,bikeid,year,gender
count,1.224645e+07,1.224645e+07,1.224645e+07,1.224645e+07,1.224645e+07,1.224645e+07,1.224645e+07,1.224645e+07,1.094050e+07,1.224645e+07
mean,1.010992e+03,1.322901e+03,4.073636e+01,-7.398509e+01,1.316123e+03,4.073603e+01,-7.398519e+01,2.317302e+04,1.978872e+03,1.116225e+00
std,1.470546e+04,1.329608e+03,3.831416e-02,5.023155e-02,1.327665e+03,5.432729e-02,8.626329e-02,4.970997e+03,1.174827e+01,5.686178e-01
min,6.100000e+01,7.200000e+01,0.000000e+00,-7.403137e+01,7.200000e+01,0.000000e+00,-7.408585e+01,1.452900e+04,1.858000e+03,0.000000e+00
25%,3.790000e+02,3.590000e+02,4.071782e+01,-7.399704e+01,3.580000e+02,4.071775e+01,-7.399724e+01,1.844200e+04,1.971000e+03,1.000000e+00
50%,6.350000e+02,4.840000e+02,4.073705e+01,-7.398759e+01,4.830000e+02,4.073705e+01,-7.398775e+01,2.516700e+04,1.982000e+03,1.000000e+00
75%,1.104000e+03,3.135000e+03,4.075514e+01,-7.397621e+01,3.132000e+03,4.075510e+01,-7.397634e+01,2.750900e+04,1.988000e+03,1.000000e+00
max,9.735948e+06,3.637000e+03,4.550636e+01,0.000000e+00,3.637000e+03,4.550636e+01,0.000000e+00,3.197900e+04,2.001000e+03,2.000000e+00

In [14]:
def calculate_dis(x):
    R = 6373.0
    lat1 = radians(x['startlat'])
    lon1 = radians(x['statlong'])
    lat2 = radians(x['endlat'])
    lon2 = radians(x['endlong'])
    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = R*c   
    return distance

In [15]:
start1 = time.time()

In [15]:
result['distance'] = result.apply(calculate_dis, axis = 1)

In [18]:
end1 = time.time()

In [19]:
end1 - start1

1121.6598300933838

In [20]:
start2 = time.time()

In [16]:
ds = dd.from_pandas(result2, npartitions = 4)

In [17]:
ds['dis'] = ds.apply(calculate_dis, axis = 1)

/Users/eleanorelin/anaconda3/lib/python3.6/site-packages/dask/dataframe/core.py:2753: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  warnings.warn(msg)

In [25]:
end2 = time.time()

In [26]:
end2 - start2

288.6736559867859

In [27]:
#return to pandas format

In [28]:
next(ds.iterrows())

(0, tripduration                                680
 starttime                   2017-01-01 00:00:21
 stoptime                    2017-01-01 00:11:41
 startstationid                             3226
 startstationname    W 82 St & Central Park West
 startlat                                40.7828
 statlong                               -73.9714
 endstationid                               3165
 endstationname      Central Park West & W 72 St
 endlat                                  40.7758
 endlong                                -73.9762
 bikeid                                    25542
 usertype                             Subscriber
 year                                       1965
 gender                                        2
 dis                                    0.874395
 Name: 0, dtype: object)

In [ ]:
start3 = time.time()

In [50]:
result.sort_values(by=['distance'])

,tripduration,starttime,stoptime,startstationid,startstationname,startlat,statlong,endstationid,endstationname,endlat,endlong,bikeid,usertype,year,gender,distance
425599,92,2017-08-08 17:46:13,2017-08-08 17:47:46,265,Stanton St & Chrystie St,40.722293,-73.991475,265,Stanton St & Chrystie St,40.722293,-73.991475,28126,Subscriber,1991.0,2,0.000000
218681,483,2017-03-08 13:18:18,2017-03-08 13:26:21,526,E 33 St & 5 Ave,40.747659,-73.984907,526,E 33 St & 5 Ave,40.747659,-73.984907,27314,Subscriber,1959.0,1,0.000000
562772,237,2017-05-12 00:07:57,2017-05-12 00:11:55,347,Greenwich St & W Houston St,40.728846,-74.008591,347,Greenwich St & W Houston St,40.728846,-74.008591,25348,Subscriber,2000.0,1,0.000000
1141622,777,2017-09-19 19:26:06,2017-09-19 19:39:04,3310,14 St & 7 Ave,40.663779,-73.983968,3310,14 St & 7 Ave,40.663779,-73.983968,31094,Subscriber,2001.0,1,0.000000
1543701,107,2017-07-28 18:08:48,2017-07-28 18:10:35,3461,Murray St & Greenwich St,40.714852,-74.011223,3461,Murray St & Greenwich St,40.714852,-74.011223,27389,Subscriber,1981.0,2,0.000000
430353,1758,2017-02-19 10:20:51,2017-02-19 10:50:10,276,Duane St & Greenwich St,40.717488,-74.010455,276,Duane St & Greenwich St,40.717488,-74.010455,16388,Subscriber,1981.0,1,0.000000
88891,344,2017-09-02 18:15:11,2017-09-02 18:20:56,537,Lexington Ave & E 24 St,40.740259,-73.984092,537,Lexington Ave & E 24 St,40.740259,-73.984092,25476,Subscriber,1958.0,1,0.000000
1141641,1685,2017-09-19 19:26:26,2017-09-19 19:54:32,217,Old Fulton St,40.702772,-73.993836,217,Old Fulton St,40.702772,-73.993836,30397,Customer,NaN,0,0.000000
51844,893,2017-02-02 14:09:39,2017-02-02 14:24:32,383,Greenwich Ave & Charles St,40.735238,-74.000271,383,Greenwich Ave & Charles St,40.735238,-74.000271,14702,Subscriber,1987.0,1,0.000000
339859,2079,2017-08-06 16:42:15,2017-08-06 17:16:55,322,Clinton St & Tillary St,40.696192,-73.991218,322,Clinton St & Tillary St,40.696192,-73.991218,19843,Customer,NaN,0,0.000000
339897,2867,2017-08-06 16:42:42,2017-08-06 17:30:29,426,West St & Chambers St,40.717548,-74.013221,426,West St & Chambers St,40.717548,-74.013221,26016,Subscriber,1973.0,2,0.000000
1126057,1471,2017-07-21 15:20:44,2017-07-21 15:45:15,3254,Soissons Landing,40.692317,-74.014866,3254,Soissons Landing,40.692317,-74.014866,27374,Subscriber,1995.0,1,0.000000
339925,3425,2017-08-06 16:43:01,2017-08-06 17:40:06,3182,Yankee Ferry Terminal,40.686931,-74.016966,3182,Yankee Ferry Terminal,40.686931,-74.016966,14697,Subscriber,1971.0,2,0.000000
51855,706,2017-02-02 14:10:13,2017-02-02 14:21:59,3255,8 Ave & W 31 St,40.750585,-73.994685,3255,8 Ave & W 31 St,40.750585,-73.994685,19680,Subscriber,1960.0,1,0.000000
879213,1457,2017-06-16 07:46:51,2017-06-16 08:11:08,174,E 25 St & 1 Ave,40.738177,-73.977387,174,E 25 St & 1 Ave,40.738177,-73.977387,25314,Subscriber,1962.0,2,0.000000
583923,456,2017-04-15 07:08:42,2017-04-15 07:16:19,3318,2 Ave & E 96 St,40.783964,-73.947167,3318,2 Ave & E 96 St,40.783964,-73.947167,15328,Subscriber,1986.0,1,0.000000
846101,298,2017-05-17 21:59:55,2017-05-17 22:04:54,342,Columbia St & Rivington St,40.717400,-73.980166,342,Columbia St & Rivington St,40.717400,-73.980166,21198,Subscriber,1994.0,2,0.000000
846098,765,2017-05-17 21:59:50,2017-05-17 22:12:36,372,Franklin Ave & Myrtle Ave,40.694528,-73.958089,372,Franklin Ave & Myrtle Ave,40.694528,-73.958089,25015,Subscriber,1989.0,1,0.000000
846093,643,2017-05-17 21:59:36,2017-05-17 22:10:19,369,Washington Pl & 6 Ave,40.732241,-74.000264,369,Washington Pl & 6 Ave,40.732241,-74.000264,28411,Subscriber,2000.0,1,0.000000
1543728,104,2017-07-28 18:09:04,2017-07-28 18:10:48,3422,Columbia St & Degraw St,40.685930,-74.002424,3422,Columbia St & Degraw St,40.685930,-74.002424,27937,Subscriber,1974.0,2,0.000000
1141529,8007,2017-09-19 19:23:47,2017-09-19 21:37:14,3147,E 85 St & 3 Ave,40.778012,-73.954071,3147,E 85 St & 3 Ave,40.778012,-73.954071,30297,Subscriber,1973.0,1,0.000000
879006,3216,2017-06-16 07:43:21,2017-06-16 08:36:58,258,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,258,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,17991,Subscriber,1963.0,1,0.000000
339752,1374,2017-08-06 16:40:59,2017-08-06 17:03:54,3119,Vernon Blvd & 50 Ave,40.742327,-73.954117,3119,Vernon Blvd & 50 Ave,40.742327,-73.954117,19486,Subscriber,1947.0,1,0.000000
1543760,2035,2017-07-28 18:09:22,2017-07-28 18:43:18,3096,Union Ave & N 12 St,40.719240,-73.952420,3096,Union Ave & N 12 St,40.719240,-73.952420,28779,Customer,NaN,0,0.000000
388701,2895,2017-07-08 19:05:39,2017-07-08 19:53:55,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,16943,Subscriber,1991.0,2,0.000000
388691,1490,2017-07-08 19:05:34,2017-07-08 19:30:25,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,19723,Customer,NaN,0,0.000000
1543742,2023,2017-07-28 18:09:15,2017-07-28 18:42:59,3096,Union Ave & N 12 St,40.719240,-73.952420,3096,Union Ave & N 12 St,40.719240,-73.952420,26829,Customer,NaN,0,0.000000
1470834,663,2017-05-31 08:40:05,2017-05-31 08:51:08,3315,Henry St & Degraw St,40.684751,-73.999173,3315,Henry St & Degraw St,40.684751,-73.999173,15590,Subscriber,1978.0,1,0.000000
562779,203,2017-05-12 00:08:15,2017-05-12 00:11:39,347,Greenwich St & W Houston St,40.728846,-74.008591,347,Greenwich St & W Houston St,40.728846,-74.008591,19235,Subscriber,1977.0,2,0.000000
846071,125,2017-05-17 21:58:56,2017-05-17 22:01:01,382,University Pl & E 14 St,40.734927,-73.992005,382,University Pl & E 14 St,40.734927,-73.992005,19576,Subscriber,1981.0,1,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358559,3363,2017-09-08 06:31:49,2017-09-08 07:27:53,3383,Cathedral Pkwy & Broadway,40.804213,-73.966991,3432,NYCBS Depot - GOW,40.669060,-73.994637,30045,Subscriber,1990.0,1,15.212522
268246,4190,2017-09-06 15:37:07,2017-09-06 16:46:57,3324,3 Ave & 14 St,40.668546,-73.993333,3383,Cathedral Pkwy & Broadway,40.804213,-73.966991,26340,Subscriber,1990.0,1,15.252711
488164,44422,2017-09-10 06:12:27,2017-09-10 18:32:50,3423,West Drive & Prospect Park West,40.661063,-73.979453,3400,E 110 St & Madison Ave,40.796153,-73.947821,16988,Subscriber,1977.0,1,15.260765
426359,5439,2017-09-09 00:42:49,2017-09-09 02:13:28,3319,14 St & 5 Ave,40.666287,-73.988951,3383,Cathedral Pkwy & Broadway,40.804213,-73.966991,20310,Customer,NaN,0,15.452723
1201282,4783,2017-04-28 18:32:06,2017-04-28 19:51:50,3383,Cathedral Pkwy & Broadway,40.804213,-73.966991,3300,Prospect Park West & 8 St,40.665147,-73.976376,29070,Subscriber,1987.0,1,15.488520
399603,537151,2017-03-20 15:56:23,2017-03-26 21:08:54,3226,W 82 St & Central Park West,40.782750,-73.971370,255,NYCBS Depot - SSP,40.646768,-74.016510,25084,Customer,NaN,0,15.596684
15394,536507,2017-03-01 12:45:16,2017-03-07 17:47:04,3170,W 84 St & Columbus Ave,40.785000,-73.972834,255,NYCBS Depot - SSP,40.646768,-74.016510,26473,Subscriber,1973.0,1,15.810265
200946,925993,2017-03-07 23:25:30,2017-03-18 17:38:43,3312,1 Ave & E 94 St,40.781721,-73.945940,255,NYCBS Depot - SSP,40.646768,-74.016510,25486,Customer,NaN,0,16.146937
1450499,8918,2017-09-24 14:54:01,2017-09-24 17:22:39,3337,Dwight St & Van Dyke St,40.673636,-74.011956,3547,Broadway & Moylan Pl,40.814326,-73.959025,25923,Customer,NaN,0,16.272220
1214756,3523,2017-08-21 18:35:02,2017-08-21 19:33:46,3478,2 Ave & 36 St - Citi Bike HQ at Industry City,40.657089,-74.008702,3400,E 110 St & Madison Ave,40.796153,-73.947821,24810,Subscriber,1990.0,1,16.297227
741244,4781,2017-02-27 18:25:31,2017-02-27 19:45:12,255,NYCBS Depot - SSP,40.646768,-74.016510,3445,Riverside Dr & W 89 St,40.791812,-73.978602,27661,Subscriber,1987.0,1,16.446653
387445,547538,2017-04-11 11:50:08,2017-04-17 19:55:46,3367,5 Ave & E 103 St,40.792255,-73.952499,255,NYCBS Depot - SSP,40.646768,-74.016510,21005,Subscriber,1938.0,1,17.058539
18806,329962,2017-04-01 18:33:59,2017-04-05 14:13:21,3400,E 110 St & Madison Ave,40.796153,-73.947821,255,NYCBS Depot - SSP,40.646768,-74.016510,21674,Customer,NaN,0,17.596157
22078,320692,2017-04-01 21:08:43,2017-04-05 14:13:36,3400,E 110 St & Madison Ave,40.796153,-73.947821,255,NYCBS Depot - SSP,40.646768,-74.016510,26405,Customer,NaN,0,17.596157
246183,1089983,2017-03-09 06:39:26,2017-03-21 22:25:50,3400,E 110 St & Madison Ave,40.796153,-73.947821,255,NYCBS Depot - SSP,40.646768,-74.016510,25280,Subscriber,1988.0,1,17.596157
160173,79971,2017-04-05 14:52:42,2017-04-06 13:05:33,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3247,SSP - Basement,0.000000,0.000000,26067,Customer,1993.0,1,8666.062746
96709,105,2017-08-02 15:36:22,2017-08-02 15:38:08,3305,E 91 St & 2 Ave,40.781122,-73.949656,3247,SSP - Basement,0.000000,0.000000,27740,Subscriber,1993.0,1,8666.522272
671322,671799,2017-03-29 18:29:10,2017-04-06 13:05:50,3282,5 Ave & E 88 St,40.783070,-73.959390,3247,SSP - Basement,0.000000,0.000000,15986,Customer,1957.0,2,8667.368014
233225,4589,2017-02-08 20:53:06,2017-02-08 22:09:36,3132,E 59 St & Madison Ave,40.763505,-73.971092,3446,NYCBS Depot - STY - Valet Scan,0.000000,0.000000,18475,Subscriber,1976.0,1,8667.935399
1506369,528,2017-06-27 15:03:14,2017-06-27 15:12:03,237,E 11 St & 2 Ave,40.730473,-73.986724,3248,LPI Facility,0.000000,0.000000,29702,Customer,NaN,0,8668.553229
95636,6608,2017-02-03 19:10:13,2017-02-03 21:00:21,524,W 43 St & 6 Ave,40.755273,-73.983169,3446,NYCBS Depot - STY - Valet Scan,0.000000,0.000000,16698,Subscriber,1977.0,1,8668.766735
758569,6299,2017-09-13 21:18:50,2017-09-13 23:03:50,296,Division St & Bowery,40.714131,-73.997047,3480,Washington Street (Don't Use),0.000000,0.000000,18213,Customer,NaN,0,8669.074174
758579,6270,2017-09-13 21:18:59,2017-09-13 23:03:29,296,Division St & Bowery,40.714131,-73.997047,3480,Washington Street (Don't Use),0.000000,0.000000,19358,Customer,NaN,0,8669.074174
1505508,220,2017-06-27 14:46:06,2017-06-27 14:49:47,466,W 25 St & 6 Ave,40.743954,-73.991449,3248,LPI Facility,0.000000,0.000000,28824,Subscriber,1976.0,1,8669.220643
1509472,745,2017-06-27 15:18:32,2017-06-27 15:30:57,3248,LPI Facility,0.000000,0.000000,523,W 38 St & 8 Ave,40.754666,-73.991382,29702,Subscriber,1969.0,1,8669.434402
1509943,684,2017-06-27 16:05:10,2017-06-27 16:16:34,3248,LPI Facility,0.000000,0.000000,446,W 24 St & 7 Ave,40.744876,-73.995299,16115,Subscriber,1964.0,1,8669.558434
825245,2639,2017-09-14 19:48:50,2017-09-14 20:32:49,417,Barclay St & Church St,40.712912,-74.010202,3480,Washington Street (Don't Use),0.000000,0.000000,25566,Customer,NaN,0,8670.139506
825229,2628,2017-09-14 19:48:39,2017-09-14 20:32:28,417,Barclay St & Church St,40.712912,-74.010202,3480,Washington Street (Don't Use),0.000000,0.000000,16046,Customer,NaN,0,8670.139506
1506429,317,2017-06-27 15:04:16,2017-06-27 15:09:34,347,Greenwich St & W Houston St,40.728846,-74.008591,3248,LPI Facility,0.000000,0.000000,16115,Subscriber,1967.0,1,8670.331672
926748,4222,2017-09-16 12:47:44,2017-09-16 13:58:07,514,12 Ave & W 40 St,40.760875,-74.002777,3480,Washington Street (Don't Use),0.000000,0.000000,25904,Customer,1956.0,1,8670.505197

In [ ]:
end3 = time.time()

In [30]:
start4 = time.time()

In [47]:
#sorting a parallel dataset requires expensive shuffles. Often we set_index once directly after data ingest and filtering and then perform many cheap computations off of the sorted dataset.

In [ ]:
#sorting in dask will change the partition structure

In [46]:
ds.set_index('tripduration') #cannot sort. too slow

KeyboardInterrupt:

In [18]:
ds.dis.nlargest(2)

Dask Series Structure:
npartitions=1
    float64
        ...
Name: dis, dtype: float64
Dask Name: series-nlargest-agg, 21 tasks

In [22]:
result_filter = result[result.usertype == 'Subscriber']

In [21]:
ds_filter = ds[ds.usertype == 'Subscriber']

In [ ]:
end5 = time.time()

In [40]:
ds.groupby(ds.usertype).dis.mean()

Dask Series Structure:
npartitions=1
    float64
        ...
Name: dis, dtype: float64
Dask Name: truediv, 23 tasks

In [45]:
result.groupby('usertype')['distance'].mean()

usertype
Customer      2.041740
Subscriber    1.828849
Name: distance, dtype: float64

In [27]:
result.loc[:,'distance'] *= 0.6

KeyError: 'the label [distance] is not in the [index]'

In [29]:
ds['dis_miles'] = ds.loc[:, 'dis']*0.6

In [30]:
ds['dis_miles']

Dask Series Structure:
npartitions=4
0          float64
340180         ...
680359         ...
1156476        ...
1878097        ...
Name: dis_miles, dtype: float64
Dask Name: getitem, 28 tasks

In [31]:
ds.sum(axis=1)

Dask Series Structure:
npartitions=4
0          float64
340180         ...
680359         ...
1156476        ...
1878097        ...
dtype: float64
Dask Name: dataframe-sum, 28 tasks

In [34]:
result['distance'].sum()

13623170.680944411

In [35]:
ds['dis'].sum()

dd.Scalar<series-..., dtype=float64>

In [36]:
ds['dis'].sum().compute()

22705284.468193926

In [37]:
time.time()

1516583941.825572

In [38]:
ds['dis'].sum().compute()

22705284.468193926

In [39]:
#http://dask.pydata.org/en/latest/dataframe-performance.html